body {
  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
}
.banner {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.welcome-banner {
  overflow: hidden;
  height: 200px;
  max-height: 300px;
  position: relative;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(43, 32, 32);
  transform: translate(-50%, -50%);
}

.welcome-text {
  font-family: sans-serif;
  text-align: center;
  color: rgb(54, 104, 4);
  -webkit-text-stroke: 2px rgb(54, 104, 4);
}

.homepage {
  display: flex;
}

.background-img {
  width: 70vh;
  height: 100%vh;
  object-fit: cover;
}

.welcome-text {
  padding-left: 10em;
  padding-right: 10em;
}

#welcome {
  font-size: 80px;
  font-weight: 500;
}

#log-in {
  font-size: 40px;
}

.text {
  font-size: 40px;
}
